# Built-in Kotlin
.kotlin/

# Gradle files
.gradle/
build/
/*/build/

# IDE files
.idea/
*.iml
local.properties
.DS_Store
captures/
.externalNativeBuild/
.cxx/

# Gradle Wrapper (Optional, but usually kept. If you want to exclude it, uncomment below)
# !gradle/wrapper/gradle-wrapper.jar
# !gradle/wrapper/gradle-wrapper.properties
# !gradlew
# !gradlew.bat

# Log files
*.log

# Android Studio Preview and Layout Inspector
/captures/
*.hprof
